@use "./variables" as userV;

html {
	font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
a:visited,
p,
ul,
li,
button,
input {
	text-transform: uppercase;
	font-family: "Montserrat";
	text-decoration: none;
	color: userV.$text-black;
	font-size: 1.1rem;
	// Text aliasing
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	padding: 0;
}

ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}

button {
	background-color: rgba(0, 0, 0, 0);
	border: none;
	cursor: pointer;
	padding: 0;
}

.wrapper {
	width: 90%;
	max-width: 1170px;
	margin: 0 auto;
}
