@use "./variables" as userV;
@use "./mixin" as userM;

.banner {
	padding: 16px 0;
	border-bottom: userV.$divider-gray 1px solid;
	margin-bottom: 32px;

	.wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.settings {
		display: flex;
		gap: 0 24px;
	}

	p,
	li,
	a,
	a:visited {
		color: userV.$text-gray;
		letter-spacing: 0.2rem;
	}
}

.header-main {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 48px;

	.social-container {
		display: flex;
		justify-content: flex-start;
	}

	.button-container {
		display: flex;
		justify-content: flex-end;
	}
}

.header-main > * {
	flex: 1;
	display: flex;
	justify-content: center;
}

.header-nav {
	display: flex;
	justify-content: center;
	gap: 0 24px;
	margin-bottom: 32px;

	nav ul {
		display: flex;
		gap: 0 32px;
		a {
			font-size: 1.3rem;
			letter-spacing: 0.4rem;
			padding-bottom: 8px;
		}
		a:hover,
		a:focus {
			border-bottom: 1px solid userV.$text-black;
		}
	}
}

.hero {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.overlay-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: absolute;
		z-index: 10;
	}
	.img-container {
		display: flex;
		justify-content: center;
		width: 100%;
		height: 700px;
		width: 100%;

		img {
			object-fit: cover;
			overflow: hidden;
		}
	}
	h1 {
		font-size: 1.6rem;
		font-weight: normal;
		letter-spacing: 0.8rem;
		margin-bottom: 24px;
	}
	h2 {
		font-family: "Merriweather";
		font-size: 7.2rem;
		font-weight: normal;
		letter-spacing: 0.3rem;
		text-transform: capitalize;
		margin-bottom: 40px;
	}
	.button-pill {
		@include userM.pill-shape;
		background-color: white;
	}
	.carousel-indicator {
		position: absolute;
		bottom: 40px;
		display: flex;
		gap: 0 16px;
		.indicator {
			height: 12px;
			width: 12px;
			border: 1px solid white;
			border-radius: 50%;
		}
		.indicator-active {
			background-color: white;
		}
	}
}

.social {
	display: flex;
	gap: 0 16px;
	span {
		font-size: 1.6rem;
		color: userV.$outline-gray;
	}
	span:hover,
	span:focus {
		color: userV.$text-black;
	}
}
