@use "./variables" as userV;
@use "./mixin" as userM;

.promotion {
	display: flex;
	gap: userV.$reg-spacing;
	margin-bottom: 80px;
	// Styling the layout and size
	.card-container {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		.info {
			height: 72px;
			// for the container to fill remaining space after calculating for space of the icon
			width: calc(100% - 72px);
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.icon {
			height: 72px;
			width: 72px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		h5 {
			font-size: 1.3rem;
			font-weight: normal;
			letter-spacing: 0.1rem;
			color: userV.$text-white;
		}
	}
	// Styling the colour
	.card-container:nth-child(1) {
		.info {
			background-color: userV.$pink;
		}
		.icon {
			background-color: userV.$dark-pink;
		}
	}
	.card-container:nth-child(2) {
		.info {
			background-color: userV.$brown;
		}
		.icon {
			background-color: userV.$dark-brown;
		}
	}
	.card-container:nth-child(3) {
		.info {
			background-color: userV.$gray;
		}
		.icon {
			background-color: userV.$dark-gray;
		}
	}
}
.trendy {
	margin-bottom: 48px;
}
.shop-header {
	display: flex;
	flex-direction: column;
	align-items: center;

	h3 {
		font-size: 2.1rem;
		font-weight: normal;
		letter-spacing: 0.8rem;
		margin-bottom: 16px;
	}
	h4 {
		font-size: 1.3rem;
		font-family: "Merriweather";
		font-style: italic;
		font-weight: normal;
		letter-spacing: 0.2rem;
		text-transform: capitalize;
		margin-bottom: 64px;
	}
	.style-selection {
		display: flex;
		gap: 0 64px;
		p {
			font-size: 1.3rem;
			letter-spacing: 0.3rem;
			margin-bottom: 12px;
		}
		.half-underline {
			width: 48px;
			height: 1px;
			background-color: rgba(0, 0, 0, 0);
		}
		li:hover,
		li:focus {
			cursor: pointer;
			p {
				color: userV.$pink;
			}
			.half-underline {
				width: 48px;
				height: 1px;
				background-color: userV.$text-black;
			}
		}
	}
}

.shop {
	display: flex;
	width: 100%;
	gap: userV.$reg-spacing;
	margin-bottom: 80px;
	overflow: hidden;
	.product-card {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: calc((100% - userV.$reg-spacing * 3) / 4);
	}
	.upper {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.lower {
		padding-top: 24px;
		width: 100%;
		height: 144px;
		display: flex;
		flex-direction: column;
		align-items: center;

		.action {
			margin-top: auto;
			display: flex;
			justify-content: space-between;
			width: 100%;
			.flex-container {
				display: flex;
				gap: 0 8px;
			}
		}
	}

	.upper:hover .overlay,
	.upper:focus .overlay {
		position: absolute;
		height: 100%;
		width: 100%;
		background-color: rgba(255, 255, 255, 0.8);
		display: flex;
		justify-content: center;
		align-items: center;
		button {
			height: 40px;
			width: 40px;
			border-radius: 50%;
			background-color: userV.$pink;
		}
	}
	.button-pill {
		@include userM.pill-shape;
		border: userV.$outline-gray 1px solid;
	}
	.button-pill:hover,
	.button-pill:focus {
		background-color: userV.$pink;
		color: userV.$text-white;
		border: none;
	}
	.button-round {
		@include userM.round-shape;
	}
}

// Common styling for the card elements
.product-name {
	font-weight: normal;
	letter-spacing: 0.1rem;
	font-size: 1.1rem;
	font-weight: normal;
	text-align: center;
	margin-bottom: 16px;
	h5 {
		font-weight: normal;
	}
}
.price {
	display: flex;
	justify-content: center;
	gap: 0 12px;
	.sale-price {
		letter-spacing: 0.1rem;
		font-size: 1.3rem;
		color: userV.$pink;
	}
	.sale-price::after {
		content: " USD";
	}
	.regular-price {
		letter-spacing: 0.1rem;
		font-size: 1.1rem;
		color: userV.$text-sale;
		text-decoration: line-through;
	}
	.regular-price::after {
		content: " USD";
	}
}
// Common styling for the card elements END

.promotion {
	.banner-link {
		position: relative;
		width: calc(100% - userV.$reg-spacing);
		img {
			width: 100%;
			object-fit: fill;
		}
	}
	.banner-link-left {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-end;
		.overlay-text {
			position: absolute;
			color: userV.$text-white;
			font-size: 3rem;
			letter-spacing: 1rem;
			font-weight: bold;
			// to create line breaks on each line
			word-spacing: 100rem;
			width: 272px;
		}
	}

	.banner-link-right {
		.overlay {
			width: 100%;
			height: 100%;
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.icon {
			// height: 100%;
			padding: 8px 12px;
			border: userV.$text-white 2px solid;
			border-right: none;
		}
		.text {
			border: userV.$text-white 2px solid;
			padding: 8px;
		}
		.overlay-text {
			// position: absolute;
			color: userV.$text-white;
			font-size: 1.5rem;
			text-justify: auto;
			letter-spacing: 0.6rem;
		}
		.attention {
			font-weight: bold;
			font-size: 3rem;
			letter-spacing: 1rem;
		}
	}
}
