@use "./variables" as userV;
@use "./mixin" as userM;

.promotion {
	padding: 80px 0;
	.wrapper {
		display: flex;
		gap: userV.$reg-spacing;
	}
	// Styling the layout and size
	.card-container {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		.info {
			height: 72px;
			// for the container to fill remaining space after calculating for space of the icon
			width: calc(100% - 72px);
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.icon {
			height: 72px;
			width: 72px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		h5 {
			font-size: 1.3rem;
			font-weight: normal;
			letter-spacing: 0.1rem;
			color: userV.$text-white;
		}
	}
	// Styling the colour
	.card-container:nth-child(1) {
		.info {
			background-color: userV.$pink;
		}
		.icon {
			background-color: userV.$dark-pink;
		}
	}
	.card-container:nth-child(2) {
		.info {
			background-color: userV.$brown;
		}
		.icon {
			background-color: userV.$dark-brown;
		}
	}
	.card-container:nth-child(3) {
		.info {
			background-color: userV.$gray;
		}
		.icon {
			background-color: userV.$dark-gray;
		}
	}
}
.trendy {
	margin-bottom: 48px;
}

.shop-header {
	display: flex;
	flex-direction: column;
	align-items: center;

	h3 {
		font-size: 2.1rem;
		font-weight: normal;
		letter-spacing: 0.8rem;
		margin-bottom: 16px;
	}
	h4 {
		font-size: 1.3rem;
		font-family: "Merriweather";
		font-style: italic;
		font-weight: normal;
		letter-spacing: 0.2rem;
		text-transform: capitalize;
		margin-bottom: 64px;
	}
	.style-selection {
		display: flex;
		gap: 0 64px;
		p {
			font-size: 1.3rem;
			letter-spacing: 0.3rem;
			margin-bottom: 12px;
		}
		.half-underline {
			width: 48px;
			height: 1px;
			background-color: rgba(0, 0, 0, 0);
		}
		li:hover,
		li:focus {
			cursor: pointer;
			p {
				color: userV.$pink;
			}
			.half-underline {
				width: 48px;
				height: 1px;
				background-color: userV.$text-black;
			}
		}
	}
}

.promotion {
	.banner-link {
		position: relative;
		width: calc(100% - userV.$reg-spacing);
		img {
			width: 100%;
			object-fit: fill;
		}
	}
	.banner-link-left {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-end;
		.overlay-text {
			position: absolute;
			color: userV.$text-white;
			font-size: 3rem;
			letter-spacing: 1rem;
			font-weight: bold;
			// to create line breaks on each line
			word-spacing: 100rem;
			width: 272px;
		}
	}

	.banner-link-right {
		.overlay {
			width: 100%;
			height: 100%;
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.icon {
			// height: 100%;
			padding: 8px 12px;
			border: userV.$text-white 2px solid;
			border-right: none;
		}
		.text {
			border: userV.$text-white 2px solid;
			padding: 8px;
		}
		.overlay-text {
			// position: absolute;
			color: userV.$text-white;
			font-size: 1.5rem;
			text-justify: auto;
			letter-spacing: 0.6rem;
		}
		.attention {
			font-weight: bold;
			font-size: 3rem;
			letter-spacing: 1rem;
		}
	}
}
@media (max-width: 1150px) {
	.promotion {
		.card-container {
			.info {
				padding: 0 24px;
			}
			.icon {
				// display: none;
			}
		}
	}
}
