@use "./variables" as userV;

@mixin pill-shape {
	height: 42px;
	width: 124px;
	border-radius: 64px;
	letter-spacing: 0.2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	@media (max-width: 860px) {
		height: 32px;
	}
}

@mixin round-shape {
	height: 42px;
	width: 42px;
	border-radius: 50%;
	border: userV.$outline-gray solid 1px;
	display: flex;
	justify-content: center;
	align-items: center;
	@media (max-width: 860px) {
		height: 32px;
		width: 32px;
	}
}
