@use "./variables" as userV;

.promo-outline-style {
	.card-container {
		border: 1px solid userV.$pink;
		padding: 16px 0;
		.icon {
			background-color: rgba(0, 0, 0, 0) !important;
		}
		h5 {
			color: userV.$text-black;
			letter-spacing: 0.2rem;
			margin-bottom: 8px;
		}
		p {
			font-family: "Merriweather";
			font-style: italic;
			letter-spacing: 0.2rem;
			font-size: 1.2rem;
			text-transform: none;
		}
	}
	margin-bottom: 0;
}
