@use "./variables" as userV;
@use "./mixin" as userM;

.shop {
	display: flex;
	width: 100%;
	gap: userV.$reg-spacing;
	margin-bottom: 80px;
	// overflow: hidden;
	flex-wrap: wrap;
	.product-card {
		display: flex;
		flex-direction: column;

		align-items: center;
		width: calc((100% - userV.$reg-spacing * 3) / 4);
		flex-grow: 0;
	}
	.upper {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;

		.img-container {
			width: 100%;
			img {
				width: 100%;
			}
		}
	}
	.lower {
		padding-top: 24px;
		width: 100%;
		height: 144px;
		display: flex;
		flex-direction: column;
		align-items: center;

		.action {
			margin-top: auto;
			display: flex;
			justify-content: space-between;
			width: 100%;
			.flex-container {
				display: flex;
				gap: 0 8px;
			}
			.to-cart::after {
				content: "Add to cart";
			}
		}
	}
	.overlay {
		display: none;
	}
	.upper:hover .overlay,
	.upper:focus .overlay {
		position: absolute;
		height: 100%;
		width: 100%;
		background-color: rgba(255, 255, 255, 0.8);
		display: flex;
		justify-content: center;
		align-items: center;
		button {
			height: 40px;
			width: 40px;
			border-radius: 50%;
			background-color: userV.$pink;
		}
	}
	.button-pill {
		@include userM.pill-shape;
		border: userV.$outline-gray 1px solid;
	}
	.button-pill:hover,
	.button-pill:focus {
		background-color: userV.$pink;
		color: userV.$text-white;
		border: none;
	}
	.button-round {
		@include userM.round-shape;
	}
}

// Common styling for the card elements
.product-name {
	font-weight: normal;
	letter-spacing: 0.1rem;
	font-size: 1.1rem;
	font-weight: normal;
	text-align: center;
	margin-bottom: 16px;
	line-height: 16px;
	h5 {
		font-weight: normal;
	}
}
.price {
	display: flex;
	justify-content: center;
	gap: 0 12px;
	.sale-price {
		letter-spacing: 0.1rem;
		font-size: 1.3rem;
		color: userV.$pink;
	}
	.sale-price::after {
		content: " USD";
	}
	.regular-price {
		letter-spacing: 0.1rem;
		font-size: 1.1rem;
		color: userV.$text-sale;
		text-decoration: line-through;
	}
	.regular-price::after {
		content: " USD";
	}
}

.button-round {
	@include userM.round-shape;
}
// Common styling for the card elements END

@media (max-width: 1150px) {
	.shop {
		.lower {
			.action {
				.to-cart::after {
					content: url(../assets/images/cart-icon-2.png);
				}
				.button-pill {
					width: 42px;
				}
			}
		}
	}
}
