@use "./variables" as userV;

.small-shop-container {
	background-color: userV.$bg-gray;
	padding: 80px 0 80px 0;
	.wrapper {
		display: flex;
		gap: 0 userV.$reg-spacing;
	}
}

.small-shop {
	padding: 40px 28px;
	width: calc((100% - 2 * userV.$reg-spacing) / 3);
	background-color: userV.$text-white;
	.product-flex {
		display: flex;
		flex-direction: column;
		gap: 24px 0;
	}
}

.small-shop h3 {
	font-size: 1.3rem;
	letter-spacing: 0.2rem;
	font-weight: normal;
}

.small-shop-heading {
	border-bottom: userV.$text-black 1px solid;
	display: inline-block;
	padding-bottom: 8px;
	margin-bottom: 40px;
}

.small-product-card {
	display: flex;
	gap: 24px;
	position: relative;

	.product-name {
		display: block;
		text-align: left;
	}
	.price {
		justify-content: flex-start;
	}
	.action {
		display: flex;
		justify-content: flex-end;
		gap: 4px;
		position: absolute;
		bottom: 0;
		right: 0;
	}
}

@media (max-width: 1150px) {
	.small-shop-container {
		.wrapper {
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 40px;
		}
	}
	.small-shop {
		width: 100%;
		.product-flex {
			flex-direction: row;
			gap: userV.$reg-spacing;
		}
	}
	.small-product-card {
		width: calc((100% - userV.$reg-spacing) / 2);
		.action {
			right: auto;
		}
	}
}

@media (max-width: 674px) {
	.small-shop {
		.product-flex {
			flex-wrap: wrap;
			align-items: center;
		}
	}
	.small-product-card {
		width: 100%;
	}
}
