// Colour variables
$pink: #ca7379;
$dark-pink: #b5676d;
$brown: #c1ac91;
$dark-brown: #ad9a82;
$gray: #8090a1;
$dark-gray: #738191;
$badge-red: #cf5053;
$text-black: #222222;
$text-gray: #888888;
$text-white: #ffffff;
$divider-gray: #eeeeee;
$outline-gray: #cccccc;
$bg-gray: #fafafa;
$reg-spacing: 36px;
