html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "FontAwesome";
  src: url("../assets/fonts/fontawesome-webfont.eot") format("embedded-opentype"), url("../assets/fonts/fontawesome-webfont.svg") format("svg"), url("../assets/fonts/fontawesome-webfont.ttf") format("truetype"), url("../assets/fonts/fontawesome-webfont.woff") format("woff"), url("../assets/fonts/FontAwesome.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Regular.woff");
  font-weight: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Bold.woff");
  font-weight: bold;
}
@font-face {
  font-family: "Merriweather";
  src: url("../assets/fonts/Merriweather-Light.woff");
  font-weight: lighter;
}
@font-face {
  font-family: "Merriweather";
  src: url("../assets/fonts/Merriweather-Italic.woff");
  font-style: italic;
}
@font-face {
  font-family: "Glyphicons Halflings";
  src: url("../assets/fonts/glyphicons-halflings-regular.woff"), url("../assets/fonts/glyphicons-halflings-regular.svg"), url("../assets/fonts/glyphicons-halflings-regular.ttf"), url("../assets/fonts/glyphicons-halflings-regular.eot");
  font-weight: normal;
  font-style: normal;
}
.fa::before {
  font-family: "FontAwesome";
}

.fa-chevron-down::before {
  content: "\f107";
}

.fa-facebook-f::before {
  content: "\f09a";
}

.fa-twitter::before {
  content: "\f099";
}

.fa-instagram::before {
  content: "\f16d";
}

.fa-vk::before {
  content: "\f189";
}

.fa-be::before {
  content: "\f1b4";
}

.gi::before {
  font-family: "Glyphicons Halflings";
}

.gi-chevron::before {
  content: "\e114";
}

html {
  font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
a:visited,
p,
ul,
li,
button,
input {
  text-transform: uppercase;
  font-family: "Montserrat";
  text-decoration: none;
  color: #222222;
  font-size: 1.1rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
  padding: 0;
}

.wrapper {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}

.banner {
  padding: 16px 0;
  border-bottom: #eeeeee 1px solid;
  margin-bottom: 32px;
}
.banner .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.banner .settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 24px;
}
.banner p,
.banner li,
.banner a,
.banner a:visited {
  color: #888888;
  letter-spacing: 0.2rem;
}

.header-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 48px;
}
.header-main .social-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.header-main .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 16px;
}
.header-main .social span {
  font-size: 1.6rem;
}
.header-main .button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header-main > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0 24px;
  margin-bottom: 32px;
}
.header-nav nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 32px;
}
.header-nav nav ul a {
  font-size: 1.3rem;
  letter-spacing: 0.4rem;
  padding-bottom: 8px;
}
.header-nav nav ul a:hover,
.header-nav nav ul a:focus {
  border-bottom: 2px solid #222222;
}

.hero {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero .overlay-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 10;
}
.hero .img-container {
  gap: 80px;
}
.hero .img-container img {
  -o-object-fit: none;
     object-fit: none;
}
.hero h1 {
  font-size: 1.6rem;
  font-weight: normal;
  letter-spacing: 0.8rem;
  margin-bottom: 24px;
}
.hero h2 {
  font-family: "Merriweather";
  font-size: 7.2rem;
  font-weight: normal;
  letter-spacing: 0.3rem;
  text-transform: capitalize;
  margin-bottom: 40px;
}
.hero .button-pill {
  height: 42px;
  width: 124px;
  border-radius: 64px;
  letter-spacing: 0.2rem;
  background-color: white;
}
.hero .carousel-indicator {
  position: absolute;
  bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 16px;
}
.hero .carousel-indicator .indicator {
  height: 12px;
  width: 12px;
  border: 1px solid white;
  border-radius: 50%;
}
.hero .carousel-indicator .indicator-active {
  background-color: white;
}