html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "FontAwesome";
  src: url("../assets/fonts/fontawesome-webfont.eot") format("embedded-opentype"), url("../assets/fonts/fontawesome-webfont.svg") format("svg"), url("../assets/fonts/fontawesome-webfont.ttf") format("truetype"), url("../assets/fonts/fontawesome-webfont.woff") format("woff"), url("../assets/fonts/FontAwesome.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Regular.woff");
  font-weight: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Bold.woff");
  font-weight: bold;
}
@font-face {
  font-family: "Merriweather";
  src: url("../assets/fonts/Merriweather-Light.woff");
  font-weight: lighter;
}
@font-face {
  font-family: "Merriweather";
  src: url("../assets/fonts/Merriweather-Italic.woff");
  font-style: italic;
}
@font-face {
  font-family: "Glyphicons Halflings";
  src: url("../assets/fonts/glyphicons-halflings-regular.woff"), url("../assets/fonts/glyphicons-halflings-regular.svg"), url("../assets/fonts/glyphicons-halflings-regular.ttf"), url("../assets/fonts/glyphicons-halflings-regular.eot");
  font-weight: normal;
  font-style: normal;
}
.fa::before {
  font-family: "FontAwesome";
}

.fa-chevron-down::before {
  content: "\f107";
}

.fa-facebook-f::before {
  content: "\f09a";
}

.fa-twitter::before {
  content: "\f099";
}

.fa-instagram::before {
  content: "\f16d";
}

.fa-vk::before {
  content: "\f189";
}

.fa-be::before {
  content: "\f1b4";
}

.gi::before {
  font-family: "Glyphicons Halflings";
}

.gi-chevron::before {
  content: "\e114";
}

html {
  font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
a:visited,
p,
ul,
li,
button,
input {
  text-transform: uppercase;
  font-family: "Montserrat";
  text-decoration: none;
  color: #222222;
  font-size: 1.1rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
  padding: 0;
}

.wrapper {
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
}

.item-wrapper {
  height: calc(100% - 24px);
  width: calc(100% - 24px);
  position: absolute;
}

.banner {
  padding: 16px 0;
  border-bottom: #eeeeee 1px solid;
  margin-bottom: 32px;
}
.banner .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.banner .settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 24px;
}
.banner p,
.banner li,
.banner a,
.banner a:visited {
  color: #888888;
  letter-spacing: 0.2rem;
}

.header-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 48px;
}
.header-main .social-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.header-main .button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header-main > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0 24px;
  margin-bottom: 32px;
}
.header-nav nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 32px;
}
.header-nav nav ul a {
  font-size: 1.3rem;
  letter-spacing: 0.4rem;
  padding-bottom: 8px;
}
.header-nav nav ul a:hover,
.header-nav nav ul a:focus {
  border-bottom: 1px solid #222222;
}

.hero {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero .overlay-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 10;
}
.hero .img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 700px;
  width: 100%;
}
.hero .img-container img {
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}
.hero h1 {
  font-size: 1.6rem;
  font-weight: normal;
  letter-spacing: 0.8rem;
  margin-bottom: 24px;
}
.hero h2 {
  font-family: "Merriweather";
  font-size: 7.2rem;
  font-weight: normal;
  letter-spacing: 0.3rem;
  text-transform: capitalize;
  margin-bottom: 40px;
}
.hero .button-pill {
  height: 42px;
  width: 124px;
  border-radius: 64px;
  letter-spacing: 0.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
}
.hero .carousel-indicator {
  position: absolute;
  bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 16px;
}
.hero .carousel-indicator .indicator {
  height: 12px;
  width: 12px;
  border: 1px solid white;
  border-radius: 50%;
}
.hero .carousel-indicator .indicator-active {
  background-color: white;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 16px;
}
.social span {
  font-size: 1.6rem;
  color: #cccccc;
}
.social span:hover,
.social span:focus {
  color: #222222;
}

.hamburger-menu {
  display: none;
}
.hamburger-menu .fa-bars {
  font-size: 16px;
}

@media (max-width: 900px) {
  .hamburger-menu {
    display: block;
    cursor: pointer;
  }
  .header-nav {
    position: relative;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header-nav nav ul {
    left: -48px;
    top: 48px;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    background-color: white;
    width: 200px;
    padding: 24px 48px 48px 48px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 24px;
    position: absolute;
    z-index: 100;
    visibility: hidden;
  }
  .header-nav .menu-open {
    visibility: visible;
  }
}
.promotion {
  padding: 80px 0;
}
.promotion .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 36px;
}
.promotion .card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.promotion .card-container .info {
  height: 72px;
  width: calc(100% - 72px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.promotion .card-container .icon {
  height: 72px;
  width: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.promotion .card-container h5 {
  font-size: 1.3rem;
  font-weight: normal;
  letter-spacing: 0.1rem;
  color: #ffffff;
}
.promotion .card-container:nth-child(1) .info {
  background-color: #ca7379;
}
.promotion .card-container:nth-child(1) .icon {
  background-color: #b5676d;
}
.promotion .card-container:nth-child(2) .info {
  background-color: #c1ac91;
}
.promotion .card-container:nth-child(2) .icon {
  background-color: #ad9a82;
}
.promotion .card-container:nth-child(3) .info {
  background-color: #8090a1;
}
.promotion .card-container:nth-child(3) .icon {
  background-color: #738191;
}

.trendy {
  margin-bottom: 48px;
}

.shop-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.shop-header h3 {
  font-size: 2.1rem;
  font-weight: normal;
  letter-spacing: 0.8rem;
  margin-bottom: 16px;
}
.shop-header h4 {
  font-size: 1.3rem;
  font-family: "Merriweather";
  font-style: italic;
  font-weight: normal;
  letter-spacing: 0.2rem;
  text-transform: capitalize;
  margin-bottom: 64px;
}
.shop-header .style-selection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 64px;
}
.shop-header .style-selection p {
  font-size: 1.3rem;
  letter-spacing: 0.3rem;
  margin-bottom: 12px;
}
.shop-header .style-selection .half-underline {
  width: 48px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0);
}
.shop-header .style-selection li:hover,
.shop-header .style-selection li:focus {
  cursor: pointer;
}
.shop-header .style-selection li:hover p,
.shop-header .style-selection li:focus p {
  color: #ca7379;
}
.shop-header .style-selection li:hover .half-underline,
.shop-header .style-selection li:focus .half-underline {
  width: 48px;
  height: 1px;
  background-color: #222222;
}

.promotion .banner-link {
  position: relative;
  width: calc(100% - 36px);
}
.promotion .banner-link img {
  width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}
.promotion .banner-link-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.promotion .banner-link-left .overlay-text {
  position: absolute;
  color: #ffffff;
  font-size: 3rem;
  letter-spacing: 1rem;
  font-weight: bold;
  word-spacing: 100rem;
  width: 272px;
}
.promotion .banner-link-right .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.promotion .banner-link-right .icon {
  padding: 8px 12px;
  border: #ffffff 2px solid;
  border-right: none;
}
.promotion .banner-link-right .text {
  border: #ffffff 2px solid;
  padding: 8px;
}
.promotion .banner-link-right .overlay-text {
  color: #ffffff;
  font-size: 1.5rem;
  text-justify: auto;
  letter-spacing: 0.6rem;
}
.promotion .banner-link-right .attention {
  font-weight: bold;
  font-size: 3rem;
  letter-spacing: 1rem;
}

@media (max-width: 1150px) {
  .promotion .card-container .info {
    padding: 0 24px;
  }
}
.shop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  gap: 36px;
  margin-bottom: 80px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.shop .product-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc((100% - 108px) / 4);
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}
.shop .upper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.shop .upper .img-container {
  width: 100%;
}
.shop .upper .img-container img {
  width: 100%;
}
.shop .lower {
  padding-top: 24px;
  width: 100%;
  height: 144px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.shop .lower .action {
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.shop .lower .action .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 8px;
}
.shop .lower .action .to-cart::after {
  content: "Add to cart";
}
.shop .overlay {
  display: none;
}
.shop .upper:hover .overlay,
.shop .upper:focus .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.shop .upper:hover .overlay button,
.shop .upper:focus .overlay button {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #ca7379;
}
.shop .button-pill {
  height: 42px;
  width: 124px;
  border-radius: 64px;
  letter-spacing: 0.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: #cccccc 1px solid;
}
.shop .button-pill:hover,
.shop .button-pill:focus {
  background-color: #ca7379;
  color: #ffffff;
  border: none;
}
.shop .button-round {
  height: 42px;
  width: 42px;
  border-radius: 50%;
  border: #cccccc solid 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-name {
  font-weight: normal;
  letter-spacing: 0.1rem;
  font-size: 1.1rem;
  font-weight: normal;
  text-align: center;
  margin-bottom: 16px;
  line-height: 16px;
}
.product-name h5 {
  font-weight: normal;
}

.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0 12px;
}
.price .sale-price {
  letter-spacing: 0.1rem;
  font-size: 1.3rem;
  color: #ca7379;
}
.price .sale-price::after {
  content: " USD";
}
.price .regular-price {
  letter-spacing: 0.1rem;
  font-size: 1.1rem;
  color: #aaaaaa;
  text-decoration: line-through;
}
.price .regular-price::after {
  content: " USD";
}

.button-round {
  height: 42px;
  width: 42px;
  border-radius: 50%;
  border: #cccccc solid 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1150px) {
  .shop .lower .action .to-cart::after {
    content: url(../assets/images/cart-icon-2.png);
  }
  .shop .lower .action .button-pill {
    width: 42px;
  }
}
.small-shop-container {
  background-color: #fafafa;
  padding: 80px 0;
}
.small-shop-container .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 36px;
}

.small-shop {
  padding: 40px 28px;
  width: calc((100% - 72px) / 3);
  background-color: #ffffff;
}
.small-shop .product-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px 0;
}

.small-shop h3 {
  font-size: 1.3rem;
  letter-spacing: 0.2rem;
  font-weight: normal;
}

.small-shop-heading {
  border-bottom: #222222 1px solid;
  display: inline-block;
  padding-bottom: 8px;
  margin-bottom: 40px;
}

.small-product-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  position: relative;
}
.small-product-card .product-name {
  display: block;
  text-align: left;
}
.small-product-card .price {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.small-product-card .action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 4px;
  position: absolute;
  bottom: 0;
  right: 0;
}

@media (max-width: 1150px) {
  .small-shop-container .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 40px;
  }
  .small-shop {
    width: 100%;
  }
  .small-shop .product-flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 36px;
  }
  .small-product-card {
    width: calc((100% - 36px) / 2);
  }
  .small-product-card .action {
    right: auto;
  }
}
.blog-container {
  padding: 80px 0;
}

.blog-container .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 36px;
}
.blog-container .wrapper .blog-post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  width: calc((100% - 72px) / 3);
}
.blog-container .wrapper .blog-post .text-container {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}

.blog-post h5 {
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  font-weight: normal;
}
.blog-post p {
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: #888888;
  text-transform: none;
}
.blog-post .read-more {
  color: #ca7379;
  letter-spacing: 0.2rem;
  font-size: 1.2rem;
}

@media (max-width: 1150px) {
  .blog-container .wrapper .blog-post {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.newsletter {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.newsletter .img-container {
  height: 400px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.newsletter .img-container img {
  height: 100%;
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
.newsletter .overlay-container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
.newsletter .overlay-container .text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}
.newsletter .overlay-container .text-container h6,
.newsletter .overlay-container .text-container p {
  color: #ffffff;
}
.newsletter .overlay-container .text-container h6 {
  font-size: 1.8rem;
  letter-spacing: 0.5rem;
}
.newsletter .overlay-container .text-container p {
  font-family: "Merriweather";
  font-style: italic;
  letter-spacing: 0.4rem;
  font-size: 1.4rem;
  text-transform: none;
}
.newsletter .overlay-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}
.newsletter .overlay-container form input[type=email] {
  height: 42px;
  width: 124px;
  border-radius: 64px;
  letter-spacing: 0.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  width: 328px;
  text-align: center;
}
.newsletter .overlay-container form button {
  height: 42px;
  width: 124px;
  border-radius: 64px;
  letter-spacing: 0.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ca7379;
  color: #ffffff;
}

.brand-container {
  padding: 80px 0;
  border-bottom: 1px #cccccc solid;
}
.brand-container .brand-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.promo-outline-style {
  margin-bottom: 0;
}
.promo-outline-style .card-container {
  border: 1px solid #ca7379;
  padding: 16px 0;
}
.promo-outline-style .card-container .icon {
  background-color: rgba(0, 0, 0, 0) !important;
}
.promo-outline-style .card-container h5 {
  color: #222222;
  letter-spacing: 0.2rem;
  margin-bottom: 8px;
}
.promo-outline-style .card-container p {
  font-family: "Merriweather";
  font-style: italic;
  letter-spacing: 0.2rem;
  font-size: 1.2rem;
  text-transform: none;
}

footer {
  padding: 80px 0 40px 0;
  background-color: #fafafa;
}

footer .information-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}
footer .information-container .footer-section {
  width: 25%;
  padding-right: 5%;
}
footer .information-container .header-container {
  padding-bottom: 6px;
  display: inline-block;
  border-bottom: 1px solid #222222;
  margin-bottom: 24px;
}
footer .information-container .header-container h5 {
  font-size: 1.4rem;
  font-weight: normal;
  letter-spacing: 0.6rem;
}
footer .information-container .location {
  font-size: 1.4rem;
  line-height: 2.4rem;
  margin-bottom: 40px;
}
footer .information-container .contact {
  margin-bottom: 32px;
}
footer .information-container .contact p {
  color: #888888;
  text-transform: none;
  font-size: 1.4rem;
  margin-bottom: 8px;
}
footer .information-container nav li a {
  display: inline-block;
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
  margin-bottom: 16px;
  color: #888888;
}
footer .information-container nav li a:focus,
footer .information-container nav li a:hover {
  color: #222222;
}

.bottom-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.bottom-footer p {
  color: #888888;
  font-size: 1.4rem;
}
.bottom-footer .payment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}